html, body { height: 100%;
    width: 100%; 
    margin: 0;
    background-color: #DD4124;}

h1 { height: 8%;
    width: 100%; 
    margin: 0}

#appmap { height: 76%;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px); }

#map { height: 100%;
    width: 100%; }

#inventaire { height: 16%;
    width: 100%;}

.selectionne {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
}