html, body { height: 100%;
    width: 100%; 
    margin: 0;
    background-color: #DD4124;}

h1 { height: 8%;
    width: 100%; 
    margin: 0}

#appmap { height: 76%;
    width: 100%; }

#map { height: 100%;
    width: 100%; }

#inventaire { height: 16%;
    width: 100%;}